.menu {
    width: 100%;
    max-width: 320px;
    height: 100vh;
    position: fixed;
    right: 0;
    background: #0B0B0B;
    z-index: 99;
    padding: 20px;
}
.menu li {
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 16px;
    list-style-type: none;
}