.key {
    height: 420px;
    width: 765px;
    background: #1A1A1A;
    border: 2px solid #252422;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texts {
    width: 342px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}
.info {
    color: #7C7C7C;
}
.mint {
    height: 40px;
    width: 204px;
    border: none;
    background: #FFE000;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.line {
    height: 6px;
    width: 100%;
    background: #272727;
    margin-bottom: 10px;
}
.score {
    color: #fff;
    font-weight: 500;
    height: 20px;
}