.header {
  width: 100%;
  height: 72px;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 68px;
  z-index: 9999;
  background: #0b0b0b;
}
.connect {
  border: none;
  height: 36px;
  background: #ffe000;
  color: #0b0b0b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  gap: 15px;
  padding-left: 13px;
  padding-right: 13px;
  min-width: 200px;
  animation: pulse 1s infinite;
}
.link {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.link:hover {
  transform: scale(0.9);
}
.links {
  display: flex;
  gap: 27px;
}
.connect_wallet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo svg {
  cursor: pointer;
  transition: all ease 0.5s;
}
.logo svg:hover {
  transform: scale(1.1);
}
.eth {
  display: flex;
  height: 36px;
  align-items: center;
  color: #ffe000;
  background: #23200a;
  font-weight: 600;
  padding-left: 13px;
  padding-right: 13px;
  min-width: 75px;
}
.menu {
  display: none;
}
.connect_wallet svg {
  cursor: pointer;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f4ff0233;
  }

  100% {
    box-shadow: 0 0 0 14px #0000;
  }
}
.coming {
  width: 134px;
  height: 28px;
  background: #FFE0001A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  margin-left: -20px;
}
.coming span{
  color: #FFE000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 450px) {
  .connect_wallet > div,
  .connect_wallet > button {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    display: block;
  }
  .links {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    justify-content: start;
  }
}
